*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #f10909;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #a70e03;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.links-header{
    font-weight: 300;
    transition: ease-in-out 0.5s
    
}

.nav .links-header a{
    color: #c9170a;
    text-decoration: none;
    margin-left: 20px;
}


.button-menu{
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.button-menu > i{
    font-size: 25px;
    line-height: 80px;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 510px;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.text-header{
    margin: 0,0,0, 30px;
}

.text-header>h1{
    color: rgb(240, 247, 181);
    font-weight: bold;
}

.copy{
    color:rgb(10, 52, 240)
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #e9554a;
}

.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#ad0101;
    text-align: center;
    color: rgb(233, 213, 213);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
}


.movie-us{
    background-color: #ffffff;
}

.container-movies{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.movies{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.movies:hover{
    box-shadow: 0 4px 10px rgba(1, 0, 5, 0.26);
}

.movies > img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.movies > h3{
    font-size: 25px;
    margin-top: 30px;
}


.movies > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.movies > a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}


.nigth{
    margin-top: 20px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.nigth>img{
    width: 600px;
    animation: ease-in animationimg 1s;
}

.text-nigth{
    margin: 0 0 0 30px;
}


.text-nigth p {
    font-weight: 100;
    margin-top: 15px;
    color: #5d6678;
}

.text-nigth a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #0ad9db;
    text-align: center;
    color:#fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgb(10 217 219 / 0.45)
}

.price{
    background: #6c63ff;
    padding-top: 30px;
}

.content-price{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255,255,255, .2);
    color: #fff;
    padding:40px 35px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.numbers .number h4{
    color: rgb(240, 6, 6);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.price-text{
    width: 40%;
}


.price-text h4{
    color: rgb(104, 18, 3);
    font-size: 40px;
}

.price-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.price-text a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(233, 9, 9);
    width: 120px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.categorie{
    display: flex;
    justify-content: space-between;
}

.categorie img{
    width: 500px;
}  

.box-categorie{
    margin: 30px 30px 0 0;
}

.box-categorie h4{
    font-size: 25px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 5px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-categorie i{
    color: #08c3c3;
    font-size: 25px;
    margin-right: 7px;
}

footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
}


.content-footer{
    width: 20%;
    text-align: center;
}

.content-footer #img-footer{
    width: 70%;
}


.content-footer h4{
    color: #fc5959;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}



.content-footer a{
    display: block;
    text-decoration: none;
    color:#5d6678;
    font-weight: bold;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.content-footer a:hover{
    color:#fc3015
}


.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #f30808;
    border: 1px solid #f82828;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: rgb(243, 14, 14);
    background-color: #e60a15;
    border-color: #f71616;
}
